#parse("/cc/constants.vm")
#parse("/cc/header.vm")
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <div class="layout-content">
  #parse("/cc/tree.vm")
    <div class="right-tree pd0x10">

        


        <div class="pd10x20">
	<div class="page-title mb20"><i class="i_icon"></i>  #if(!$data.project.id) 新增 #else 编辑 #end 工程 </div>
        <div class="form pd10">
        <form id="form0" method="post" action="/project/saveProject.action?authCheck=$sysUtils.encryptAuthCheck($request,$data.project.id)" >
	    <input type="hidden" name="reqParam.project.id" value="$!data.project.id"/>
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td width="20%" align="right"><b class="requier">*</b>工程名：</td>
                    <td width="80%"  align="left"><input type="text" name="reqParam.project.name" value="$!utils.escapeInH($!data.project.name)" id="ename" class="input-large" size="50">
                    </td>
                </tr>
                <tr>
                    <td align="right">简介：</td>
                    <td align="left"><textarea name="reqParam.project.memo" class="textarea" id="ememo">$!utils.escapeInH($!data.project.memo)</textarea></td>
                </tr>          
                <tr>
                  <td align="right">&nbsp;</td>
                  <td align="left"><a class="btn btn-primary btn-large" onclick="doConfirm()">确认</a>  <a class="btn  btn-large">取消</a> </td>
                </tr>
              </table>
              </form>
         </div>
    </div>
    </div>
        
    
</div>
<script>
    function doConfirm(){
        console.log('/project/saveProject.action?authCheck=$sysUtils.encryptAuthCheck($request,$data.project.id)')
        if(jQuery.trim(jQuery('#ename').val())==''){
            alert('请填写工程名称！');
            return false;
        }
        jQuery.post("/project/saveProject.action",
                { 'reqParam.project.id': "$!data.project.id",
                    'authCheck': '$sysUtils.encryptAuthCheck($request,$data.project.id)',
                    'reqParam.project.name': jQuery('#ename').val(),
                    'reqParam.project.memo': jQuery('#ememo').val() },
                function(json){
                    if(json.status!=0){
                        var errorMsg = "";
                        jQuery.each(json.statusInfo.error,function(key,val){
                            errorMsg = errorMsg + "" + key + ":" + val + "\n";
                        });
                        alert(errorMsg);
                    }else{
                        // window.location.href='/project/listProject.action';
                    }
                },"json");
        return false;
    }
</script>

  
</div>
#parse("/cc/footer.vm")