<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="configLocation" value="classpath:conf/hibernate.cfg.xml" />
		<property name="packagesToScan">
		     <list>
		       <value>com.baidu.rigel.**.bo</value>
		       <value>com.baidu.rigel.*.bo</value>
		    </list>
		</property>
		<property name="eventListeners">
			<map>
				<entry key="post-insert" value-ref="enversEventListener" />
				<entry key="post-update" value-ref="enversEventListener" />
				<entry key="post-delete" value-ref="enversEventListener" />
				<entry key="post-collection-recreate" value-ref="enversEventListener" />
				<entry key="pre-collection-remove" value-ref="enversEventListener" />
				<entry key="pre-collection-update" value-ref="enversEventListener" />
			</map>
		</property>			
	</bean>
	
	 <bean name="enversEventListener" class="org.hibernate.envers.event.AuditEventListener" />
	
	<bean id="auditReaderTemplate" class="com.baidu.rigel.service.envers.AuditReaderTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="baseDao" abstract="true">
		<property name="sessionFactory" ref="sessionFactory"></property>

		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>

	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 事务配置 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
</beans>
