<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- 配置文件   加载所有的配置文件 -->
	<bean id="propertyConfigurer" class="com.baidu.bjf.beans.config.JndiPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/conf/local/jdbc-mysql.properties</value>
				<value>classpath:/conf/local/memcache.properties</value>
				<value>classpath:/conf/local/*_conf.properties</value>
			</list>
		</property>
		<property name="replaceDuplicateByJndi" value="true"></property> <!-- default is true -->
	</bean>
</beans>